<launch>
  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="DEPLOYER_ARGS" value="gnulinux
    -s $(find sergio_hardware)/torso_testing/soem.ops
    -s $(find sergio_hardware)/torso_testing/torso_lower_control_sineRef.ops
    -s $(find sergio_hardware)/torso_testing/frf_measurements/frf_torso.ops
    "/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="DEBUG" value="false"/>
  </include>
</launch>
