<launch>
  <include file="$(find rtt_ros)/launch/deployer.launch" ns="sergio">
    <arg name="DEPLOYER_ARGS" value="gnulinux
    HARDWARE
    -s $(find sergio_hardware)/ops/soem.ops
    -s $(find sergio_hardware)/base_testing/frf_measurements/pos_floor_measurement/wheel_pos_control.ops
    -s $(find sergio_hardware)/base_testing/frf_measurements/pos_floor_measurement/frf_one_wheel_floor_pos.ops
    
    
    "/>
    <arg name="NAME" value = "hardware"/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="DEBUG" value="false"/>
  </include>
</launch>
<!---s $(find sergio_hardware)/ops/all_dynamixel_controllers.ops-->
<!---s $(find sergio_hardware)/ops/tracing/trace_always_odom.ops 
-->
