<launch>
     <include file="$(find rtt_ros)/launch/deployer.launch">
        <arg name="DEPLOYER_ARGS" value="gnulinux
        -s $(find sergio_hardware)/torso_testing/soem_torso.ops
        -s $(find sergio_hardware)/torso_testing/torso_upper_control1.ops
        "/>
        <arg name="LOG_LEVEL" value="Warning"/>
        <arg name="DEBUG" value="false"/>
      </include>
</launch>
